<div class="article-container">
  <h1 class="article-title"><%= @article.title %></h1>

  <p class="article-body"><%= @article.body %></p>

  <div class="action-links">
    <%= link_to "Edit", edit_article_path(@article), class: "action-link" %>
    <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "action-link" %>
  </div>

  <div class="comments-section">
    <h2 class="comments-title">Comments</h2>
    <%= render @article.comments %>
  </div>

  <div class="add-comment-section">
    <h2 class="add-comment-title">Add a comment:</h2>
    <div class="comment-form">
      <%= render "comments/form", article: @article %>
    </div>
  </div>
</div>
